@import "../base/reset.scss";
@import "../../sass/utils/mixins.scss";
@import "../../sass/utils/variables.scss";

* {
    transition: 200ms;
    transition-property: transform;
}

body {
    font-family: Montserrat;
}
