@import "../../sass/base/base.scss";

.movie-details {
	padding: 32px 0;

	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}

	&__img {
		height: 600px;
		width: auto;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&__title {
			@include typography(inherit, 600, 48px, _);

			color: $fg;
		}

		&__overview {
			@include typography(inherit, 400, 18px, _);
		}

		&__link-wrap {
			display: flex;
			gap: 20px;
		}

		&__link {
			@include typography(inherit, 500, 18px, _);
		}
	}
}
