@mixin typography($font-family, $font-weight, $font-size, $text-align) {
	font-family: $font-family;
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: 100%;
	letter-spacing: 0;
	text-align: $text-align;
}

@mixin flex($justify-content, $align-items, $gap, $flex-wrap, $flex-direction) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	gap: $gap;
	flex-wrap: $flex-wrap;
	flex-direction: $flex-direction;
}

@mixin mob() {
	@media screen and (min-width: 320px) {
		@content;
	}
}

@mixin tab() {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin desk() {
	@media screen and (min-width: 1280px) {
		@content;
	}
}
