@import "../../sass/base/base.scss";

.movie-card {
	width: 295px;
	height: 100%;

	&__link {
		display: flex;
		justify-content: space-between;
		gap: 16px;
		flex-direction: column;

		text-decoration: none;
	}

	&__poster {
		width: 100%;
		height: auto;
	}

	&__title {
		@include typography(inherit, 700, 20px, _);

		color: $fg-alt;
	}

	&__overview {
		@include typography(inherit, 400, 16px, _);

		color: $fg;
	}
}
