@import "../../sass/base/base.scss";

.header {
	padding: 20px 0;

	position: sticky;
	top: 0;

	background-color: $bg;

	&__nav {
		display: flex;
		align-items: center;
		gap: 50px;

		&__link {
			@include typography(inherit, 600, 24px, _);

			text-decoration: none;

			color: $fg-alt;

			&:visited {
				color: $fg;
			}

			&.active {
				box-shadow: 0 2px 0 $fg;
			}
		}
	}
}
